[submodule "components/esp-mqtt"]
	path = components/esp-mqtt
	url = https://github.com/256dpi/esp-mqtt.git
[submodule "components/trie"]
	path = components/trie
	url = https://github.com/DavidAntliff/trie.git
